<div class="row">
<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload" >upload</a>
        <a class="nav-link"   href="/home/account" >account</a>
    </div>
</div>
 <div class="col-10">
  <div class="container">
    <form action = "/home/account/update" method="POST">
      <div class="form-group">
         <label for="firstname">First Name</label>
       <input class="form-control" type="text" name="firstname" id="firstname" value="{{firstName}}" required>
      </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input class="form-control" type="text" name="lastname" id="lastname" value="{{lastName}}" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email" value="{{email}}" required>
        </div>

        <div class="form-group">
            <label for="dateofbirth">Date of Birth</label>
            <input class="form-control" type="date" name="dateofbirth" id="dateofbirth" value="{{birthDate}}" required>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender" required>
                <option value = "{{gender}}" selected>{{gender}}</option>>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
                <option value="Prefer not to say">Prefer not to say</option>
            </select>
        </div>
        <button id="update" type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
        </form>
    </div>
</div>
</div>