<div class="row">
<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload"   >upload</a>
        <a class="nav-link"   href="/home/account"   >account</a>
    </div>
</div>
 <div class="col-10">
  <div class="container">
    <form class="form-group">
    <label for="firstname">firstName:</label>
    <p>{{firstName}}</p>
    <label for="lastname">Lastame:</label>
    <p>{{lastName}}</p>
    <label for="email">Email:</label>
    <p>{{email}}</p>
    <label for="birthdate">Date of Birth:</label>
    <p>{{birthDate}}</p>
    <label for="gender">Gender:</label>
    <p>{{gender}}</p>
    <a id="nav-link" href = "/home/account/update">Update</button>
    </form>
    </div>
</div>
</div>